{% extends 'base.html.twig' %}

{% block title %}Les articles !{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-3">Nos articles</h1>
        {% if not is_granted('ROLE_USER') %}
            <a href="/login" class="my-2 btn btn-success">Connexion</a>
        {% else %}
            <a href="/logout" class="my-2 btn btn-danger">Déconnexion</a>
        {% endif %}
        <div class="row">
            {% for post in posts %}
                <div class="col-3 mb-3">
                    <div class="border border-dark rounded p-2">
                        <h3>{{post.title}}</h3>
                        <p>{{post.introduction}}</p>
                        <a href="#" class="btn btn-primary">Lire la suite</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}